<head>
<style>
	h1 {
	/*position:fixed;*/
	text-align: center;
 	font-family: Roboto, Arial, sans-serif;
 	font-weight: lighter;
 	font-size: 30px;
 	letter-spacing: 4px;
 	opacity: .7;
 	position: fixed;
 	top: 50%;
	left: 50%;
	margin-top: -30%;
	margin-left: -10%; 	/*border-top: 1px solid;
 	border: 100px;*/

 	/*display: inline-block;*/
 	/*margin-top: -9%;
 	font-size: 20px;*/
/* 	margin-left: 392px;
*/ 	/*letter-spacing: 1px;
 	z-index: 5;
 	opacity: .7;
 	margin-left: 0%;
 	margin-right: 0%;
 	margin-bottom: 0%;
    color: black;*/
	}


 	p {
 	text-align: center;
 	font-family: Roboto, Arial, sans-serif;
 	/*display: inline-block;*/
 	margin-top: 28%;
 	font-size: 20px;
	letter-spacing: 1px;
 	z-index: 5;
 	opacity: .7;
 	margin-left: 29%;
 	margin-right: 27%;
 	padding: 0;
	color: black;
 	z-index: 100;
 	position: fixed;
 	}

  #about {
 	border: 10px solid;
 	height:33em;
 	width:33em;
 	line-height: 12em;
 	text-align:center;
 	vertical-align: middle;
 	border-radius: 380px;
 	border: rgba(1, 187, 176, .7);
 	background: rgba(1, 187, 176, .7);
 	margin-top: 3%;
 	z-index: 0;
 	position: fixed;
 	top: 50%;
	left: 50%;
	margin-top: -25%;
	margin-left: -250px;
  }

</style>
</head>

<h1>ABOUT ME</h1>
<div id="about" class="nav_circle"></div>

<body>
<p>Hello! My name is Lexie Ernst and I'm currently a Junior studying at The Ross School of Business in Ann Arbor, Michigan. I'm also pursuing minors in Computer Science and French!
<br><br>Among many things, I am passionate about the intersection of business and technology. I love learning new things, am drawn to innovation, and one day hope to change the world.</p>
</body>