<head>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
  body {
    margin-top: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0
  }

nav {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav ul {
  padding: 0px;
  margin: 0px;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  padding-left: 11.5%;
}

ul a {
  text-decoration: none;
  font-size: 22px;
  font-family: Roboto, Arial, sans-serif;
}

  #companion {
    background:#8fb9fe;
    height: 400px;
    padding: 0;
    margin: 0;
  }
  #wisely {
    background:white;
    /*background:#3b95d2;*/
    margin-top: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
  }

  #ywfc {
    background:#CC0000;
    opacity: .7;
    margin-top: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
  }

  #symplenish {
    background:#9fc300;
    margin-top: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
  }

  #soles {
    background:url(http://i.imgur.com/GOrhi6I.jpg);
    margin-top: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
    color: white;
  }
   #atmosphier {
    background:url(http://i.imgur.com/wON5jNk.jpg);
    margin-top: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
    color: white;
  }

  </style>
</head>
<body class="container">
<nav>
      <ul>
        <ul>
        <li><a href="/home"><span>HOME</span></a></li>
         <li><a href="/about"><span>ABOUT</span></a></li>
          <li><a href="experience"><span>EXPERIENCE</span></a></li>
          <li><a href="contact"><span>CONTACT</span></a></li>
     </ul>
      </ul>
      <br clear="all">
    </nav>
<div id="companion">Companion</div>
<div id="wisely">Wisely</div>
<div id="ywfc">YWFC</div>
<div id="symplenish">Symplenish</div>
<div id="soles">Soles</div>
<div id="atmosphier">Atmosphier</div>
</body>