<head>
  <style>
  body {
    margin-top: 10%;
  }
  #companion {
    background:#8fb9fe;
    height: 400px;
    padding: 0;
    margin: 0;
  }
  #wisely {
    background:white;
    /*background:#3b95d2;*/
    margin-top: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
  }

  #ywfc {
    background:#CC0000;
    opacity: .7;
    margin-top: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
  }

  #symplenish {
    background:#9fc300;
    margin-top: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
  }

  #soles {
    background:url(http://i.imgur.com/GOrhi6I.jpg);
    margin-top: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
    color: white;
  }
   #atmosphier {
    background:url(http://i.imgur.com/wON5jNk.jpg);
    margin-top: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
    color: white;
  }

  </style>
</head>
<body class="container">
<div id="companion">Companion</div>
<div id="wisely">Wisely</div>
<div id="ywfc">YWFC</div>
<div id="symplenish">Symplenish</div>
<div id="soles">Soles</div>
<div id="atmosphier">Atmosphier</div>
</body>