<body>

    <div class="middle">
    
      
         <!-- <span style="font-family:Gotham" id="name">Lexie Ernst</span> -->
         <font id='name' face="roboto">ALEXIS DANIELLE ERNST</font>

         <hr id="line"> </hr>

      <div id="interests" class="nav_circle">
<!--         <span>Interests</span>
 -->      </div>  
    </div>

    <div class="bottom">
      <div id="experience" class="nav_circle">
<!--         <span>Experience</span>
 -->      </div>
      <div id="education" class="nav_circle">
<!--         <span>Education</span>
 -->    </div>
      <div id="contact_info" class="nav_circle">
<!--         <span>Contact</span>
 -->      </div>
      <div id="about" class="nav_circle">
<!--         <span>About</span>
 -->      </div>
      <div id="initial" class="nav_circle">
        <span>A</span>
      </div>
    </div>
</body>
