<body>
    <div class="top">
      <div id="education" class="nav_circle">
        <span>Education</span>
    </div>

    <div class="middle">
      <div id="experience" class="nav_circle">
        <span>Experience</span>
      </div>
      
         <span id="name">Lexie Ernst</span>

      <div id="interests" class="nav_circle">
        <span>Interests</span>
      </div>  
    </div>

    <div class="bottom">
      <div id="contact_info" class="nav_circle">
        <span>Contact</span>
      </div>
      <div id="about" class="nav_circle">
        <span>About</span>
      </div>
    </div>
</body>
