<h1>Lexie Ernst</h1>
<div class="nav">
<div id="education" class="nav_circle">
 <span>Education</span>
</div>
<div id="work_experience" class="nav_circle">
 <span>Work Experience</span>
</div>
<div id="interests" class="nav_circle">
  <span>Interests</span>
</div>
<div id="contact_info" class="nav_circle">
  <span>Contact Info</span>
</div>
<div id="about" class="nav_circle">
  <span>About</span>
</div>
</div>
