<head>
  <link rel="stylesheet" href="font-awesome-animation.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../src/font-awesome-animation.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
  <nav>
      <ul>
        <ul>
        <li><a href="/home"><span>HOME</span></a></li>
         <li><a href="/about"><span>ABOUT</span></a></li>
          <li><a href="experience"><span>EXPERIENCE</span></a></li>
          <li><a href="contact"><span>CONTACT</span></a></li>
     </ul>
      </ul>
      <br clear="all">
    </nav>

    <div class="middle">
    
      
         <!-- <span style="font-family:Gotham" id="name">Lexie Ernst</span> -->
         <font id='name' face="roboto">LEXIE DANIELLE ERNST</font>

         <hr id="line"> </hr>

      <div id="interests" class="nav_circle">
<!--         <span>Interests</span>
 -->      </div>  
    </div>

    <div class="bottom">
      <div id="experience" class="nav_circle">
<!--         <span>Experience</span>
 -->      </div>
      <div id="education" class="nav_circle">
<!--         <span>Education</span>
 -->    </div>
      <div id="contact_info" class="nav_circle">
<!--         <span>Contact</span>
 -->      </div>
      <div id="about" class="nav_circle">
<!--         <span>About</span>
 -->      </div>
      <div id="initial" class="nav_circle">
        <span>L</span>
      </div>
    </div>
</body>
